//chart template
doctype html
html
    head
        script(src='/Javascript/apexcharts.min.js')
        link(rel='stylesheet',type='text/css',href='/CSS/apexcharts.css')
    body
        div(id='chart',style="max-width:650px; margin: 35px 0px")
    script.
        var options = !{option};
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();