doctype html
html
    head
        script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.js')
        link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.css')
    body
        div(id='chart',style="max-width:device-width; margin: 35px auto")
    script.
        var options = !{option};     

        options.tooltip.y.title.formatter = (val,{seriesIndex,dataPointIndex})=>{
            if(seriesIndex)
                return `${val}`; 
            else
                return `${val}`;
        };
      
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      
      
     