//chart template
doctype html
html
    head
        script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.js')
        link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.css')
    body
        div(id='chart',style="max-width:device-width; margin: 35px")
    script.
        var options = !{option};
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();