//chart template
doctype html
html
    head
        script(src='https://cdnjs.com/libraries/apexcharts')
        link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.css')
    body
        div(id='chart',style="max-width:650px; margin: 35px 0px")
    script.
        var options = !{option};
        options.plotOptions.radialBar.dataLabels.value.formatter = function (val){return parseInt(val)};
        console.log(options);
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();