//chart template
doctype html
html
    head
        script(src='https://localhost:4000/Javascript/apexcharts.min.js')
        link(rel='stylesheet',type='text/css',href='https://localhost:4000/CSS/apexcharts.css')
    body
        div(id='chart',style="max-width:device-width")
    script.
        var options = !{option};
        options.plotOptions.radialBar.dataLabels.value.formatter = function (val){return parseInt(val)};
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();