.App {
  font-family: sans-serif;
}

.map {
  position: absolute;
  margin: 40px 10px 10px 40px;
  left: 30px;
  top: 30px;
}

.svg {
  padding-left: 300px;
  width: auto;
  height: 600px;
  align-content: flex-start;
}

.stateName {
  font-family: sans-serif;
  text-align: center;
}

.card {
  position: absolute;
  z-index: 1;
  left: 600px;
  top: 120px;
}

.toolTip {
  width: auto;
  height: 50px;
  position: absolute;
  z-index: 55;
  padding: 5px;
  visibility: hidden;
  background: #fffddd;
  color: #000;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textP {
  margin: 0px;
}

.mainMapPage {
  height: 630px;
  width: auto;
  background: #f8f0e8;
}
